@mixin body{
  font-family: sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: black;
  background-color: $page;
}
@mixin form-page{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  min-height: 100%;
  margin: 0 auto;
  background-color: white;
}
@mixin enchante{
  font-family: 'Zhi Mang Xing','Sriracha', cursive;
}
@mixin francaise{
  font-family: 'Dancing Script', cursive,sans-serif;
}
@mixin papille{
  font-family:'Harlow Solid',sans-serif;
}
@mixin gout{
  font-family: 'Kaushan Script', cursive,sans-serif;
}
@mixin letter{
  font-family: 'Old Standard TT', serif;
}
@mixin flex-column{
  display: flex;
  flex-direction: column;
}

@mixin order{
  display: flex;
  flex-wrap: wrap;
}

@mixin center{
  text-align: center;
}


