$background-vert: #569C87;
$text-oh:#F8C847;
$border-menu: #919393;
$page: grey;
$background-page:white;
$couleur-page1:#FCDFDA;
$couleur-page2:#FEF5FD;
$couleur-page3:#F9F9F9;
$couleur-page4:#FDFFFD;
$couleur2-1:#c77228;
$couleur2-2:#a56696;
$couleur2-3:#6e4fc7;
$couleur3-1:#0031d6;
$couleur3-2:#0567ea;
$couleur3-3:#99cbf9;
$francaise:'Croissant One', cursive;
$papille:'Alex Brush', cursive;
$enchante:'Devonshire', cursive;
$gout: 'Kaushan Script', cursive;
$menu:'Kalam', cursive;
$police_couleur1:#3d1319;
