$background-vert: #569C87;
$text-oh:#F8C847;
$border-menu: #919393;
$page: grey;
$background-page:white;
$couleur-page1:#FCDFDA;
$couleur-page2:#FEF5FD;
$couleur-page3:#F9F9F9;
$couleur-page4:#FDFFFD;
$enchante:'Devonshire', cursive;
$francaise:'Croissant One', cursive;
$papille:'Alex Brush', cursive;
$gout: 'Kaushan Script', cursive,sans-serif;
