@import "variables";
@import "mixins";
@import "Layout";
@import "menu";
/*menu Principal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  @include body;
}

.menu-principal,
.carte-menu {
  @include form-page;
  @include flex-column;
  .alignement-menu {
    align-items: center;
    justify-content: space-around;
    @include order;
  }
}

.menus {
  display: block;
  border: groove 0px;
  border-radius: 0.5rem;
  box-shadow: 0rem 0rem 1rem $border-menu;
  width: 19rem;
  height: 25rem;
  margin: 2rem;
  a {
    height: 100%;
    /*grossi les diferents menus et éclairci celui-ci au survole de la souris*/
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
      transition: transform 430ms ease-in-out;
      opacity: 70%;
    }
  }
  &.menu1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $couleur-page1;
    font-size: 2.3rem;
    text-align: center;
    .note-index {
      margin-top: 5rem;
      font-size: 4rem;
    }
    p {
      font-family: $enchante;
      color: $police_couleur1;
      margin-top: 1rem;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      color: $police_couleur1;
      margin-top: 2rem;
      font-size: 2.6rem;
    }
  }
  &.menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $couleur-page2;
    font-size: 1.5rem;
    text-align: center;
    p {
      font-family: $francaise;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(left, #e4852f, #8e5df9);
      margin-top: 10rem;
    }
    h2 {
      font-family: $francaise;
      font-size: 2.6rem;
      color: #c77228;
      margin-top: 3rem;
    }
  }
  &.menu3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $couleur-page3;
    font-size: 2.3rem;
    text-align: center;
    p {
      font-family: $papille;
      background-image: -webkit-linear-gradient(
        left,
        #0031d6,
        #0567ea,
        #99cbf7,
        #9fd1f8
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 10rem;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2.6rem;
      color: #0088f6;
      margin-top: 2rem;
    }
  }
  &.menu4 {
    background-color: $couleur-page4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.3rem;
    text-align: center;
    p {
      font-family: $gout;
      background-image: -webkit-linear-gradient(
        left,
        #469b49,
        #89d46d,
        #baff88,
        #baff85
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 10rem;
    }
    h2 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 2.6rem;
      color: #6ebe5f;
      margin-top: 2rem;
    }
  }
}
.prochainement {
  display: flex;
  justify-content: center;
  h2 {
    border: solid 0 $background-vert;
    border-radius: 1rem;
    background-color: $background-vert;
    color: $text-oh;
    margin-bottom: 7rem;
    margin-top: 1rem;
    padding: 1.3rem;
    width: 19rem;
    &:after {
      margin-left: 0.5rem;
      @include effet-proch;
    }
  }
}
/*note musique menu1 ainsi que page1*/
.fas.fa-music {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #f24761, #f98e6d);
}