@import "variables";
@import "mixins";
@import "Layout";
@import "menu";
/*menu Principal*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  @include body;
  
}

.menu-principal,.carte-menu {
  @include form-page;
  @include flex-column;
  .alignement-menu {
    align-items: center;
    justify-content: space-around;
    @include order;
   
  }

    a {
      text-decoration: none;
      .menu1 {
        color:$police_couleur1;
        background-color: $couleur-page1;
        
      }
      .menu2 {
        background-color: $couleur-page2;
      }
      .menu3 {
        background-color: $couleur-page3;
    }
      .menu4 {
        background-color: $couleur-page4;
      }
  }

  .general {
    border: groove 0px;
    box-shadow: 0rem 0rem 1rem $border-menu;
    width: 19rem;
    height: 25rem;
    margin: 2rem;
    padding: 8rem 2.5rem;
    @include mobile{
      margin:1rem;
    }
      
    }
    .police {
      font-size: 1.9rem;
      text-align: center;
      width:15rem;
      &.police1 {
        font-family:$enchante;
      }
      &.police2 {
        font-family:$francaise;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#e4852f,#8e5df9);
        
        font-size:1.3rem;
      }
      &.police3 {
        font-family:$papille;
        background-image: -webkit-linear-gradient(left,#0031d6,#0567ea,#99cbf7,#9fd1f8);
      -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      }
      &.police4 {
        font-family:$gout;
        background-image: -webkit-linear-gradient(left,#469b49,#89d46d,#baff88);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        height:2rem;
        
      }
    }
  }
    .fas.fa-music {
      font-size: 2.5rem;
      margin-left: 5rem;
      -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left,#f24761,#f98e6d);
    }

    .menu {
      text-align: center;
      margin-top: 3rem;;
      font-size: 3rem;
      
     
    }
    .font1{
      font-family:$menu;
    }
    .font2{
      font-family:"sans serif";
      font-size:2.6rem;
    }
    .coul-1{
      color:#c77228;
      
    }
    .col-3{
      color:#0088f6;
    }
    .col-4{
      color:#6ebe5f;
    }


  .prochainement {
    border: solid 0 $background-vert;
    border-radius: 2rem;
    background-color: $background-vert;
    margin:2rem;
    width:20rem;
    margin-left: 35%;
    @include mobile {
      margin-left: 9%;
    }
    @include autres{
      margin-left:31%
    }

    .centrer {
      padding: 1.5rem 2rem;
      text-align: center;
      color: $text-oh;
    }
  }
  
  






